body,
html {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    width: 100%;
    background: rgb(241, 241, 241);
}
fieldset {
    border-style: none;
}
.header {
    margin: 2% 0;
    width: 75%;
    text-align: center;
    font-size: 1.6rem;
}
.title {
    margin-bottom: 1%;
}
.sub-title {
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 0;
}
.container{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 5px 6px -6px black;
    background: white;
}
.start-screen {
    text-align: center;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.start-screen img {
    width: 30%;
}
.start-screen button {
    width: 30%;
    height: 3rem;
    margin: 2% 0;
    background-color: rgb(240, 240, 240);
    color: black;
    font-size: 1.5rem;
    border-style: none;
}
.start-screen button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    box-shadow: 0 5px 6px -6px gray;
    cursor: pointer;
}
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
.count {
    font-style: italic;
    text-align: center;
    font-size: 1.2rem;
}
.score {
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.question {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.choice-list {
    width: 100%;
    list-style: none;
    padding-left: 0;
    font-size: 1.6rem;
}
.choice-list li {
    display: flex;
    justify-content: left;
    align-items: center;
}
.quiz-submit {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 8rem;
    height: 2.5rem;
    font-size: 1.5rem;
    border-style: none;
}
.quiz-submit:hover{
    background: rgb(0, 140, 255);
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 6px -6px gray;
}
.page-title {
    text-align: center;
    font-size: 2rem;
}
.call-to-action {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}
.fas {
    font-size: 10rem;
}
.correct {
    color:rgb(0, 140, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}
.incorrect {
    color:rgb(255, 51, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}
.correct-title {
    text-align: center;
    font-size: 2rem;
}
.next-button {
    text-align: center;
    margin: auto;
    display: flex;
    width: 15rem;
    font-size: 1.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    border-style: none;
}
.next-button:hover {
    background: rgb(0, 140, 255);
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 6px -6px gray;
}